.container__body {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  border-radius: 10px;
}

.prf {
  box-sizing: border-box;
  width: 80%;
  color: black;
}

.container__card-item:hover {
  background-color: #c6c6c8;
}
